<div id="page" class="page user-management">
	{{> organisms-header }}

	<main role="main">
        <div class="container">
            {{> organisms-user-management-nav }}

            <div class="user-management__body">
                {{> organisms-user-management-account-status }}
            </div>
            
            {{> organisms-user-management-footer-with-split-cta }}
        </div>
	</main>
</div>