<!-- Begin Footer -->
<footer class="footer text-muted cf" role="contentinfo">
	<div class="container">
		<p class="pull-right">
			<a href="#">Back to top</a>
		</p>
		<p class="copyright">&copy; 2015 {{ companyName }}. All rights reserved.</p>
	</div>
</footer>
<!-- End Footer -->
