<div class="vcard">
	<div class="org">{{ companyName }}</div>
	<div class="adr">
		<div class="street-address">{{ address.street-address }}</div>
		<span class="locality">{{ address.locality }}</span>,
		<span class="postal-code">{{ address.postal-code }}</span>,
		<abbr class="region" title="{{ address.region }}">{{ address.region }}</abbr>
		<div class="country-name">{{ address.country-name }}</div>
	</div>
	<div class="tel">{{ address.tel }}</div>
	<div class="email">{{ address.email }}</div>
</div>
