<fieldset class="form-section">
    <div class="section__content in-1s">
        <div class="field-section">
            <p class="lead">To enable a long shelf life and extensible resource centre for developers, we've agreed on the following simple yet straighforward mechanism of naming our files.</p>
        </div>
        <div class="field-section">
            <p>If you miss one variable the file skips to the next file. However, <b>NEVER</b> skip the 'mobikash-dist.filetype'.</p>
            <figure class="highlight"><pre><code class="language-html" data-lang="html">{{ base_url }}/filetype/client.appname.mobikash-dist.filetype</code></pre></figure>
        </div>
    </div>
</fieldset>
