<fieldset class="form-section">
    <div class="section__content in-1s">
        <div class="field-section">
            <p>Copy-paste the stylesheet <code>&lt;link&gt;</code> into your <code>&lt;head&gt;</code> before all other stylesheets to load our CSS.</p>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"{{ base_url }}/css/mobikash-dist.css"&gt;</code></pre></figure>
            <p>Add our JavaScript plugins and jQuery near the end of your pages, right before the closing <code>&lt;/body&gt;</code> tag. No need for jQuery, Modernizr and Boostrap - They're already included in the build.</p>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;script <span class="na">data-main=</span><span class="s">"{{ base_url }}/js/mobikash-dist.js"</span> <span class="na">src=</span><span class="s">"{{ base_url }}/js/require.js"</span>&gt;&lt;/script></span></code></pre></figure>
        </div>
    </div>
</fieldset>
