<fieldset class="form-section">
    <div class="section__content in-1s">
        <div class="field-section">
            <b>NOTE:</b>
            <p>These are examples based on the forementioned structure, so you only need one of them.</p>
        </div>

        <div class="field-section">
            <label class="form-control-label">Latest compiled and minified CSS</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"{{ base_url }}/css/mobikash-dist.css"&gt;</code></pre></figure>
        </div>

        <div class="field-section">
            <label class="form-control-label">App Specific CSS</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"{{ base_url }}/css/csm.mobikash-dist.css"&gt;</code></pre></figure>
        </div>

        <div class="field-section">
            <label class="form-control-label">Client Specific CSS</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"{{ base_url }}/css/ericsson.mobikash-dist.css"&gt;</code></pre></figure>
        </div>

        <div class="field-section">
            <label class="form-control-label">Client with App Specific CSS</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"{{ base_url }}/css/ericsson.csm.mobikash-dist.css"&gt;</code></pre></figure>
        </div>
    </div>
</fieldset>