<fieldset class="form-section">
    <div class="section__content in-1s">
        <div class="field-section">
            <b>NOTE:</b>
            <p>These are examples based on the forementioned structure, so you only need one of them.</p>
        </div>

        <div class="field-section">
            <label class="form-control-label">Latest compiled and minified JavaScript</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;script <span class="na">data-main=</span><span class="s">"{{ base_url }}/js/mobikash-dist.js"</span> <span class="na">src=</span><span class="s">"{{ base_url }}/js/require.js"</span>&gt;&lt;/script></span></code></pre></figure>
        </div>

        <div class="field-section">
            <label class="form-control-label">App Specific Javascript</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;script <span class="na">data-main=</span><span class="s">"{{ base_url }}/js/csm.mobikash-dist.js"</span> <span class="na">src=</span><span class="s">"{{ base_url }}/js/require.js"</span>&gt;&lt;/script></span></code></pre></figure>
        </div>

        <div class="field-section">
            <label class="form-control-label">Client Specific Javascript</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;script <span class="na">data-main=</span><span class="s">"{{ base_url }}/js/ericsson.mobikash-dist.js"</span> <span class="na">src=</span><span class="s">"{{ base_url }}/js/require.js"</span>&gt;&lt;/script></span></code></pre></figure>
        </div>

        <div class="field-section">
            <label class="form-control-label">Client with App Specific Javascript</label>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;script <span class="na">data-main=</span><span class="s">"{{ base_url }}/js/ericsson.csm.mobikash-dist.js"</span> <span class="na">src=</span><span class="s">"{{ base_url }}/js/require.js"</span>&gt;&lt;/script></span></code></pre></figure>
        </div>
    </div>
</fieldset>