<div id="page" class="page auth">
	{{> organisms-header }}

	<main role="main" class="search is-empty">
		<header class="search__box">
			<div class="container">
				{{> molecules-form-login }}
			</div>
		</header>
	</main>
</div>
