<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ED1C24;"></span>
		<span class="sg-label">#ED1C24</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F7941E"></span>
		<span class="sg-label">#F7941E</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #212121;"></span>
		<span class="sg-label">#212121</span>
	</li>
</ul>
