<form action="{{ url }}" method="post" class="form-inline newsletter-form">
    <fieldset class="form-section">
        <header class="section__header">
	        <legend class="section-title">Sign up for our newsletter</legend>
        </header>
        <div class="section__content">
	        <label class="form-control-label sr-only" for="newsletter-field">Sign up for our newsletter</label>
            <div class="field-section">
	   		    <input class="form-control" type="newsletter" placeholder="E-mail address" id="newsletter-field"/>
            </div>
            <button type="submit" class="btn btn-primary">Sign Me Up</button>
        </div>
    </fieldset>
</form>
