<form action="{{ url }}" method="post" class="auth-form">
    <fieldset class="form-section">
        <header class="section__header">
            <h3 class="section-title">Login</h3>
        </header>
        <div class="section__content in-1s">
            <div class="field-section">
                <label class="form-control-label sr-only">Username</label>
                <input class="form-control" type="text" placeholder="Username">
            </div>
            <div class="field-section">
                <label class="form-control-label sr-only">Password</label>
                <input class="form-control" type="password" placeholder="Password">
            </div>
        </div>
        <footer class="section__footer">
            <div class="field-section">
                <button class="btn btn-primary">Login</button>
            </div>
        </footer>
    </fieldset>
</form>
