<footer class="user-management__footer with-split-sections">
    <div class="__section">
        <button class="btn"><i class="fa fa-unlock"></i>Unlock</button>
        <button class="btn"><i class="fa fa-refresh"></i>Reset Password</button>
    </div>
    <div class="__section">
        <button class="btn"><i class="fa fa-minus"></i>Remove from IS</button>
        <button class="btn" role="activate"><i class="fa fa-power-off"></i>Activate</button>
    </div>
</footer>