<section class="user-management__account-status">
    <div class="__section">
        <span class="account-status__lock-state is-locked">Locked</span>
    </div>
    <div class="__section">
       <span class="account-status__title">Access Count</span>
       <span class="account-status__access-count" limit="3">0</span>
    </div>
    <div class="__section">
        <span class="account-status__activation-state is-deactivated">Deactivated</span>
    </div>
</section>