.cta {
    @extend .btn;
	border: none;
	border-radius: $border-radius;
	padding-left: $gutter;
    padding-right: $gutter;
	
	&.cta__btn {
        @extend .btn-primary;
        
//		&:hover {
//			background-color: darken($dark-ui-color, .5);
//		}
	}
	
	&.cta__create {
		margin-left: $padding-reset;
		background-color: $brand-color;
		color: #fff;

		&:hover {
			background-color: darken($brand-color,50%);
		}
	}
}