input {
	border: 1px solid $base-ui-color;
	padding: $padding-reset;
	font-weight: bold;
}

.form-signin {
    width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	text-align: center;
	
	.form__heading {
        font-size: 28px;
        font-weight: normal;
		margin-bottom: 15px;
		margin-top: 0;
	}
	.c-checkbox, .c-radio {
        line-height: 15px;
        color: inherit;
		margin: 15px auto;
        display: table;
        
        .c-indicator {
            height: 15px;
            width: 15px;
        }
	}
    .btn-group {
        margin-left: auto;
        margin-right: auto;
    }
    .form__footer {
        margin-top: 15px;
    }
//	.form-control {
//		border-radius: 0;
//		box-sizing: border-box;
//		padding: 10px;
//		font-weight: normal;
//		margin-bottom: -1px;
		
//		&:focus {
//			z-index: 2;
//		}
//		
//		&:first-child {
//			border-radius: 3px;
//		}
//	}
//    .form_field {
//        &:last-child {
//			margin-bottom: 25px;
//        }
//    }
//    .form-group {
//        display: flex;
//        flex-flow: row nowrap;
//        
//        &:not(:last-child) {
//            margin-bottom: 0;
//        }
//        
//        .form_field {
//            flex: 1;
//            
//            &:not(:first-child) {
//                margin-left: -1px;
//            }
//        }
//    }
}

.form__cluster {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    border: 1px solid $gray-lighter;
//    margin-bottom: 15px;

    .form-group {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 0;

        &:not(:first-child) {
            border-top: 1px solid $gray-lighter;
        }

        .form__field {
            &:not(:first-child) {
                border-left: 1px solid $gray-lighter;
            }
        }
    }

    .form__field {
        flex: auto;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 10px;

        label {
            flex: 1;
            display: table;
            font-size: $font-size-sm;
            font-weight: bold;
            text-align: left;
//            opacity: .35;
            letter-spacing: 1px;
            width: 100%;
            height: 30px;
            line-height: 20px;
            margin: 0;
            padding: 5px 10px;
        }

        .form-control {
//            flex: 1;
//            display: table;
            background-color: transparent;
            border: none;
            font-weight: normal;
            width: 100%;
            line-height: 20px;
            padding: 5px 10px;
            margin: 0;
            resize: none;
        }
        
        &:not(.has-error) {
            label, .help-block {
                color: burlywood;
            }
        }
        
        &.has-error {
            background-color: cornsilk;
            
            .help-block {
                font-weight: normal;
                
                &:before {
                    content: "* ";
                }
            }
        }

        &.pro__pic {
            width: 250px;
        }

        .form-group {
            border: none;

            &:not(:first-child) {
                border-top: 1px solid $gray-lighter;
            }
        }
    }
}