<header class="user-management__nav">
    <div class="__section with-nav-previous">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            Back to users
        </a>
    </div>
    <div class="__section with-user">
        <h4 class="user__name as-title">Desmond Salvador</h4>
        <p class="user__username">desmonds</p>
    </div>
    <div class="__section with-nav">
       <nav class="nav nav-inline">
           <a href="#" class="nav-link active">Account</a>
           <a href="#" class="nav-link">Roles</a>
           <a href="#" class="nav-link">Permissions</a>
       </nav>
    </div>
</header>