<form action="#">
    <fieldset class="options">
        <legend>Checkbox <abbr title="Required">*</abbr></legend>
		<div class="checkbox">
			<input class="form-control" id="checkbox1" name="checkbox" type="checkbox" checked="checked">
			<label class="form-control-label" for="checkbox1">Choice A</label>
		</div>
		<div class="checkbox">
			<input class="form-control" id="checkbox2" name="checkbox" type="checkbox">
			<label class="form-control-label" for="checkbox2">Choice A</label>
		</div>
		<div class="checkbox">
			<input class="form-control" id="checkbox3" name="checkbox" type="checkbox">
			<label class="form-control-label" for="checkbox3">Choice A</label>
		</div>
    </fieldset>
</form>
