<form action="#">
    <fieldset class="options">
        <legend>Radio</legend>
		<div class="radio">
			<input class="form-control" id="radio1" name="radio" type="radio" class="radio" checked="checked">
			<label class="form-control-label" for="radio1">Option 1</label>
		</div>
		<div class="radio">
			<input class="form-control" id="radio2" name="radio" type="radio" class="radio">
			<label class="form-control-label" for="radio2">Option 2</label>
		</div>
		<div class="radio">
			<input class="form-control" id="radio3" name="radio" type="radio" class="radio">
			<label class="form-control-label" for="radio3">Option 3</label>
		</div>
    </fieldset>
</form>
