.form-section {
	.section__header {
		.action-group {
			@media (max-width: 25.1em) {
				display: flex;
				flex-flow: column wrap;

            }
			@media (min-width: 25.1em) {
				display: inline-block;
				float: right;
			}

			.btn {
				color: $text-muted;

				@media (max-width: 25.1em) {
					flex: 1;
					padding: 15px 0;
				}

				@media (min-width: 25.1em) {
					@media (max-width: 50em) {
						font-size: 0;

						.fa {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
	.section__content {
		@include make-row();

		.field-section {
			@include make-col();
			margin-bottom: $form-group-margin-bottom;
		}

		&.in-1s {
			.field-section {
				@include make-col-span(12);
			}
		}

		&.in-2s {
			.field-section {
				@include make-col-span(6);
			}
		}

		&.in-3s {
			.field-section {
				@media (max-width: 25em) {
					width: 100%;
				}
				@media (min-width: 25.1em) {
					@include make-col-span(6);
				}
				@media (min-width: 75.1em) {
					@include make-col-span(4);
				}
			}
		}

		&.in-4s {
			.field-section {
				@media (max-width: 25em) {
					width: 100%;
				}
				@media (min-width: 25.1em) {
					@include make-col-span(6);
				}
				@media (min-width: 45.1em) {
					@include make-col-span(4);
				}
				@media (min-width: 75.1em) {
					@include make-col-span(3);
				}
			}
		}
	}
}


// Custom forms
.auth-form {
    width: 100%;
    max-width: 250px;
    margin: 0 auto 100px;
    text-align: center;

    .section__header {
        border: none;
        margin-top: 0;
    }
}
