<p>
	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<button type="button" class="btn btn-primary">Default</button>

	<!-- Secondary, outline button -->
	<button type="button" class="btn btn-secondary">Alternate</button>

	<!-- Indicates a successful or positive action -->
	<button type="button" class="btn btn-success">Success</button>

	<!-- Indicates caution should be taken with this action -->
	<button type="button" class="btn btn-warning">Warning</button>

	<!-- Indicates a dangerous or potentially negative action -->
	<button type="button" class="btn btn-danger">Error</button>

	<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
	<button type="button" class="btn btn-link">Link</button>
</p>

<h4 class="section-title">You can make anything look like a button</h4>
<p>
	<a class="btn btn-primary" href="#" role="button">A Link</a>
	<button class="btn btn-primary" type="submit">A Button</button>
	<input class="btn btn-primary" type="button" value="An Input Button">
	<input class="btn btn-primary" type="submit" value="An Input Submit">
</p>
