<div class="checkbox-group" data-toggle="radios">
	<div class="checkbox-inline checkbox-button">
		<input class="form-control" id="checkbox1a" name="checkbox1a" type="checkbox" class="checkbox" checked="checked">
		<label class="form-control-label" for="checkbox1a">Checkbox 1</label>
	</div>
	<div class="checkbox-inline checkbox-button">
		<input class="form-control" id="checkbox2a" name="checkbox1a" type="checkbox" class="checkbox">
		<label class="form-control-label" for="checkbox2a">Checkbox 2</label>
	</div>
	<div class="checkbox-inline checkbox-button">
		<input class="form-control" id="checkbox3a" name="checkbox1a" type="checkbox" class="checkbox">
		<label class="form-control-label" for="checkbox3a">Checkbox 3</label>
	</div>
</div>

<h4 class="section-title">You can also activate them as buttons</h4>
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 2
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 3
    </label>
</div>
