<div class="radio-group" data-toggle="radios">
	<div class="radio-inline radio-button">
		<input class="form-control" id="radio1a" name="radio1a" type="radio" class="radio" checked="checked">
		<label class="form-control-label" for="radio1a">Radio 1</label>
	</div>
	<div class="radio-inline radio-button">
		<input class="form-control" id="radio2a" name="radio1a" type="radio" class="radio">
		<label class="form-control-label" for="radio2a">Radio 2</label>
	</div>
	<div class="radio-inline radio-button">
		<input class="form-control" id="radio3a" name="radio1a" type="radio" class="radio">
		<label class="form-control-label" for="radio3a">Radio 3</label>
	</div>
</div>

<h4 class="section-title">You can also add classes</h4>
<div class="radio-group" data-toggle="radios">
	<div class="radio-inline radio-button is-successful">
		<input class="form-control" id="radio1b" name="radio1b" type="radio" class="radio" checked="checked">
		<label class="form-control-label" for="radio1b">Activated</label>
	</div>
	<div class="radio-inline radio-button is-warned">
		<input class="form-control" id="radio2b" name="radio1b" type="radio" class="radio">
		<label class="form-control-label" for="radio2b">Blacklisted</label>
	</div>
	<div class="radio-inline radio-button is-dangerous">
		<input class="form-control" id="radio3b" name="radio1b" type="radio" class="radio">
		<label class="form-control-label" for="radio3b">Deactivated</label>
	</div>
</div>
