<div id="page" class="page search is-empty">
	{{> organisms-header }}

	<main role="main">
		<header class="search__box">
			<div class="container">
				{{> organisms-search }}
			</div>
		</header>
	</main>

    <nav class="search__navigation">
        <div class="container">
            {{> organisms-tabs-with-icons }}
        </div>
    </nav>
</div>
