<form action="{{ url }}" method="post" class="form">
	<fieldset class="form-section">
		<header class="section__header">
			<h3 class="section-title">Account Status</h3>
		</header>
		<div class="section__content">
			<div class="alert alert-success">
				<span class="form-control-static">Activated</span>
				<a href="#" class="pull-right"><i class="fa fa-pencil"></i></a>
			</div>
			<div class="field-section">
				<label class="form-control-label">Account Balance</label>
				<div class="form-control-static">
					<p class="lead">Ksh. 66.00</p>
				</div>
			</div>
		</div>
	</fieldset>
</form>
